<html>
            <head>
                <title>Articles about AI and Machine Learning</title>
                <script>
                    var articleTimers = []; // <--- initialization here

                    function setCookie(name, value, days) {
                        var expires = "";
                        if (days) {
                            var date = new Date();
                            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                            expires = "; expires=" + date.toUTCString();
                        }
                        document.cookie = name + "=" + (value || "") + expires + "; path=/; SameSite=None; Secure";
                    }

                    function getCookie(name) {
                        var nameEQ = name + "=";
                        var ca = document.cookie.split(';');
                        for (var i = 0; i < ca.length; i++) {
                            var c = ca[i];
                            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                        }
                        return null;
                    }
                    
                    function startStopTimer(index) {
                        var button = document.getElementById('button-' + index);
                        if (button.textContent == 'Start Timer') {
                            console.log('Starting timer for article ' + index);
                            var time = parseInt(localStorage.getItem('time-' + index)) || 600;
                            console.log('Initial time for article ' + index + ': ' + time + 's');
                            var timer = setInterval(function() {
                                time--;
                                console.log('Time left for article ' + index + ': ' + time + 's');
                                document.getElementById('time-' + index).textContent = time + 's';
                                localStorage.setItem('time-' + index, time);
                                if (time == 0) {
                                    clearInterval(timer);
                                    alert('Time is up!');
                                }
                            }, 1000);
                            articleTimers[index] = timer;
                            button.textContent = 'Stop Timer';
                        } else {
                            console.log('Stopping timer for article ' + index);
                            clearInterval(articleTimers[index]);
                            button.textContent = 'Start Timer';
                        }
                    }

                   function removeArticle(index) {
                        console.log('Removing article ' + index);
                        
                        // Remove timer from localStorage
                        localStorage.removeItem('time-' + index);
                        
                        // Remove article from articles array in localStorage
                        var articles = JSON.parse(localStorage.getItem('articles')) || [];
                        articles.splice(index, 1);
                        localStorage.setItem('articles', JSON.stringify(articles));

                        // Remove article from the HTML list
                        var articleList = document.getElementById('article-' + index);
                        articleList.parentNode.removeChild(articleList);

                        // Remove the article from cookies as well
                        var cookieArticles = JSON.parse(getCookie('articles') || '[]');
                        cookieArticles.splice(index, 1);
                        setCookie('articles', JSON.stringify(cookieArticles), 30);

                        // Reload the page
                        location.reload();
                        }

                    function resetTimer() {
                        localStorage.clear();
                        location.reload();
                    }

                    window.onload = function(){}

                </script>
            </head>
            <body>
                <h1>Articles about AI and Machine Learning</h1>
                <ul>
                    {% for article in articles %}
                        <li id='article-{{ loop.index0 }}'>
                        <a href='{{ article.url }}' target='_blank'>{{ article.title }}</a>
                        <span id='time-{{ loop.index0 }}'>{{ article.time }}s</span>
                        <button onclick='startStopTimer({{ loop.index0 }})' id='button-{{ loop.index0 }}'>Start Timer</button>
                        <button onclick='removeArticle({{ loop.index0 }})'>Remove</button>
                        </li>
                    {% endfor %}
                </ul>
                <button onclick="location.href='/add-article'">Add Article</button>
                <button onclick="resetTimer()">Reset Timer</button>
        
                {% if bookmarks %}
                    <h2>Bookmarks:</h2>
                    <ul>
                        {% for bookmark in bookmarks %}
                            <li><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </body>
        </html>